/* Navbar */

.nav{
    margin-bottom: 50px;
}

.textoNavBar{
    width: 350px;
    font-size: 1.8em;
    text-align: center;
}
/* ---------------colsultas------------ */
.boton{
    padding-bottom: 30px;
}

/* ---------------Registro------------ */

.textoRegistro{
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

